body {
    display: flex;
    flex-direction: column;
    background: #2A5D83;
}

header {
    font-size: 2em;
    justify-content: center;
    text-align: center;
    background: aquamarine;
}

.tab-content {
    display:flex;
    justify-content: center;
}

a:hover {
    background-color: aquamarine;
}