body {
    display: flex;
    flex-direction: column;
    background: #2A5D83;
}

.tab-content {
    display:flex;
    justify-content: center;
}

.tab-pane {
    box-sizing: content-box;
}

a:hover {
    background-color: aquamarine;
}